*
{
	margin: 0;
	padding: 0;
}

body
{
	background: url(images/tokio-holidays.jpg) no-repeat;
}

aside
{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

aside ul
{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

aside ul li
{
	position: relative;
	list-style: none;
}

aside ul li a
{
	position: relative;
	font-size: 4em;
	text-decoration: none;
	line-height: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

aside ul li a::before
{
	content: attr(data-text);
	position: absolute;
	color: var(--clr);
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 8px solid var(--clr);
	-webkit-text-stroke: 1px var(--clr);
}

aside ul li a:hover::before
{
	width: 100%;
	filter: drop-shadow(0 0 25px var(--clr));
}

main
{
	width: 400px;
	height: 500px;
	background: gray;
	opacity: 0.8;
	float: right;
}

footer
{
	background: black;
	width: 100%;
	height: 50px;
	float: left;
	color: white;
}

footer ul li
{
	float: left;
	margin: 0 20px;
	list-style: none;
}

footer img
{
	width: 25px;
	height: 25px;
}

footer a
{
	text-decoration: none;
	color: white;
}